repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.8
  hooks:
    # Run the linter.
    - id: ruff-check
    # Run the formatter.
    - id: ruff-format
- repo: local
  hooks:
    - id: mypy
      name: mypy
      stages: [commit]
      language: system
      entry: mypy --strict --show-error-codes
      exclude: ^data_processing/schemas/protobuf|apps/
      types: [python]
      pass_filenames: true
